.search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-box input[type="text"] {
    width: 15vw;
    height: 3vh;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.search-box button {
    width: 4vw;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1060px) {
    .search-box button {
        width: 15%;;
    }

    .search-box input[type="text"] {
        width: 30%;
    }
}
